 /* Fonts */

 @font-face {
     font-family: 'avenir_lt_std95_black';
     src: url('../assets/fonts/avenir/avenirltstd-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/avenir/avenirltstd-black-webfont.woff') format('woff');
     font-weight: heavy;
     font-style: normal;
 }




 @font-face {
     font-family: 'avenir_lt_std45_book';
     src: url('../assets/fonts/avenir/avenirltstd-book-webfont.woff2') format('woff2'),
         url('../assets/fonts/avenir/avenirltstd-book-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }




 @font-face {
     font-family: 'avenir_lt_std55_roman';
     src: url('../assets/fonts/avenir/avenirltstd-roman-webfont.woff2') format('woff2'),
         url('../assets/fonts/avenir/avenirltstd-roman-webfont.woff') format('woff');
     font-weight: light;
     font-style: normal;
 }

 /* end fonts*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }




 body {

     background-color: white;
     font-family: avenir_lt_std95_black;
     font-weight: bolder;
 }


 /*heading*/

 h1 {
     color: rgb(255, 0, 0);
     font-size: 5em;
     font-weight: 900;
     margin-top: 0.5em;
     font-family: avenir_lt_std95_black;
     font-weight: bold;
     text-align: center;
     justify-content: space-between;
     margin-left: 2rem;
 }


 h2 {
     text-align: center;
     color: rgb(134, 132, 132);
     font-size: 2em;
     font-weight: 900;
     border-style: double;
 }



 h3 {
     color: black;
     font-size: 2em;
     font-weight: 900;
     margin-left: 3em;
     text-align: left;
     font-family: avenir_lt_std95_black;
     font-weight: bold;
     justify-content: space-between;

 }



 .logo-img {
     max-width: 40vh;
     align-items: center;
     position: relative;


     left: 40%;



 }



 nav>ul {
     list-style: none;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-between;
     margin-left: 7rem;
     margin-right: 7rem;
     margin-top: 2rem;
     margin-bottom: 2rem;

 }


 nav>ul>li>a {
     color: black;
     text-decoration: none;
     font-weight: 900;

     font-family: avenir_lt_std95_black;
     font-weight: bold;

 }

 nav>ul>li>a:hover {
     color: #F44336;
 }

 h4 {
     color: rgb(129, 129, 129);
     font-size: 0.5em;
     font-weight: 900;
     width: 100%;
     text-align: center;

 }



 /*zoekbalk*/
 .search-box input {
     position: absolute;
     height: 100%;
     width: 100%;
     outline: none;
     border: none;
     background-color: #e1e4e6;
     padding: 0 15px 0 45px;
     color: #fff;
     border-radius: 6px;
 }

 .search-box i {
     position: absolute;
     z-index: 2;
     color: #999;
     top: 50%;
     left: 15px;
     font-size: 40px;
     transform: translateY(-50%);
 }


 .search-box {
     position: relative;
     height: 42px;
     max-width: 800px;
     margin: 0 auto;
     margin-bottom: 20px;
 }


 /* end zoekbalk*/

 /* end heading*/

 /* slider container */
 .container {
     width: 100vw;
     height: 80vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .slider {
     height: 750px;
     width: 100vw;
     display: flex;
     perspective: 1000px;
     position: relative;
     align-items: center;
 }

 .box1 {
     /*aanbevelingen*/
     background: url(/styles/images/aanbevelingen.jpeg);
     background-size: cover;
     background-position: center center;

 }

 .box2 {
     /*events*/
     background: url(/styles/images/events.jpeg);
     background-size: cover;
     background-position: center center;
 }

 .box3 {
     /*activiteiten*/
     background: url(/styles/images/activiteiten.jpeg);
     background-size: cover;
     background-position: center center;
 }

 .box4 {
     /*e-books en luisterboeken*/
     background: url(/styles/images/e\ book.jpeg);
     background-size: cover;
     background-position: center center;

 }

 .box5 {
     /*Theater*/
     background: url(/styles/images/theater.jpeg);
     background-size: cover;
     background-position: center center;
 }

 .box6 {
     background: url(/styles/images/krant.png);
     background-size: cover;
     background-position: center center;
 }

 .box7 {
     background: url(/styles/images/maxresdefault.jpg);
     background-size: cover;
     background-position: center center;
 }

 .slider [class*="box"] {
     /*   float: left; */
     overflow: hidden;
     border-radius: 20px;
     transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
     position: absolute;
 }

 .slider [class*="box"]:nth-child(7),
 .slider [class*="box"]:nth-child(1) {
     width: 100vh;
     height: 60vh;
     transform: scale(0.2) translate(-50%, -50%);
     top: 10%;
     z-index: 1;
 }

 .slider [class*="box"]:nth-child(2),
 .slider [class*="box"]:nth-child(6) {
     width: 100vh;
     height: 60vh;
     transform: scale(0.4) translate(-50%, -50%);
     top: 20%;
     z-index: 2;
 }

 .slider [class*="box"]:nth-child(3),
 .slider [class*="box"]:nth-child(5) {
     width: 100vh;
     height: 60vh;
     transform: scale(0.6) translate(-50%, -50%);
     top: 30%;
     z-index: 3;
 }

 .slider [class*="box"]:nth-child(4) {
     width: 60vw;
     height: 60vh;
     border-color: #c92026;
     color: #fff;
     transform: scale(1) translate(-50%, -50%);
     top: 50%;
     z-index: 4;
 }

 .slider [class*="box"]:nth-child(1) {
     left: -13%;
 }

 .slider [class*="box"]:nth-child(2) {
     left: -5%;
 }

 .slider [class*="box"]:nth-child(3) {
     left: 10%;
 }

 .slider [class*="box"]:nth-child(4) {
     left: 50%;
 }

 .slider [class*="box"]:nth-child(5) {
     left: 71%;
 }

 .slider [class*="box"]:nth-child(6) {
     left: 85%;
 }

 .slider [class*="box"]:nth-child(7) {
     left: 100%;
 }

 .slider .firstSlide {
     -webkit-animation: firstChild 1s;
     animation: firstChild 1s;
 }

 /* end slide container*/






 /* scroll bar*/
 /*gelezen boeken*/
 .images .image-box {
     position: relative;
     height: 40px;
     width: 200px;
     border-radius: 6px;
     overflow: hidden;
 }






 .card-wrapper {
     display: table-row;
     overflow-x: scroll;
     color: rgb(255, 0, 0);
     box-sizing: border-box;
     scroll-snap-align: start;

 }




 .card {
     border-radius: 25px;
     background-color: rgb(247, 243, 243);
     margin-left: 2em;
     margin-top: 1rem;
     width: 320px;


 }



 .image-content,
 .card-content {

     flex-direction: column;
     align-items: center;
     padding: 10px 10px;
     display: flex;
 }

 .image-content {
     position: relative;
     row-gap: 5px;
     padding: 25px 0;
 }


 .card-image {
     position: relative;
     height: 300px;
     width: 200px;

     background: rgb(219, 155, 155);
     padding: 3px;
 }

 .card-image .card-img {
     height: 100%;
     width: 100%;


 }

 .name {
     font-size: 18px;
     font-weight: 500;
     color: #333;
     font-weight: 900;
 }

 .description {
     font-size: 16px;
     color: #383737;
     text-align: left;
     max-width: 30rem;

 }

 /*BUTTONS*/

 .button {
     border: none;
     font-size: 16px;
     color: #FFF;
     font-family: avenir_lt_std95_black;
     font-weight: bolder;
     padding: 8px 16px;
     background-color: #F44336;
     border-radius: 6px;

     cursor: pointer;
     align-items: center;
     display: inline-block;
     margin: 0.5em;
     padding: 1.2em 1em;
     overflow: hidden;
     position: relative;
     text-decoration: none;
     text-transform: uppercase;
     border-radius: 3px;
 }

 .carousel {
     font-size: 16px;
     color: #FFF;
     font-family: avenir_lt_std95_black;
     font-weight: bolder;
     background-color: #F44336;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
     cursor: pointer;
     align-items: center;


     border: none;

     text-align: center;

     display: block;
     margin-left: auto;
     margin-right: auto;
     padding: 1.2em 5em;
     overflow: hidden;
     position: relative;
     text-decoration: none;
     text-transform: uppercase;
     border-radius: 3px;

 }



 .button:hover {
     background: grey;
 }

 .btn-uitlog {
     font-family: avenir_lt_std95_black;

     border: none;
     font-size: 16px;
     color: #FFF;
     padding: 8px 16px;
     background-color: #F44336;
     border-radius: 6px;
     margin: 5px;
     cursor: pointer;
     float: right;

 }


 .btn {

     position: absolute;

     font-family: avenir_lt_std95_black;


     background-color: #F44336;
     color: white;
     font-size: 16px;
     padding: 8px 16px;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     margin: 5px;
     float: right;

 }



 .btns {
     position: absolute;
     width: 100px;
     height: 100px;
     top: 160%;

     text-align: center;
     cursor: pointer;
     background: rgba(0, 0, 0, 0.1);
     z-index: 999;
     overflow: hidden;

 }

 .btns:hover {
     background: rgba(252, 0, 0, 0.3);
 }

 #next {
     right: -10px;

     border-radius: 7px 0px 0px 7px;

 }

 #previous {
     left: -10px;
     border-radius: 0px 7px 7px 7px;

 }

 /* end button*/


 /*flex en grid*/


 .flex-container {
     max-width: 100rem;
     margin: 0 auto;
     padding: 0 2rem 2rem;
     float: right;
     position: absolute;
     display: flex;
     flex-direction: column;

     top: 160%;
     left: 40%;

 }



 .gallery {
     display: flex;
     flex-wrap: wrap;
     margin: -1rem -1rem;

 }


 .gallery-item {

     flex: 1 1 20rem;

     margin: 1rem;
     box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
     overflow: hidden;
 }

 .gallery-image {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: transform 400ms ease-out;
 }

 /*
 .gallery-image:hover {
     transform: scale(1.15);
 }
*/
 @supports (display: grid) {
     .gallery {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
         grid-gap: 2rem;
     }


     .gallery,
     .gallery-item {
         margin: 0;
     }


 }



 /* start footer */



 a {
     text-decoration: underline;
     color: black;
     font-family: avenir_lt_std95_black;

 }

 h4 {
     text-decoration: none;
     color: black;
     font-family: avenir_lt_std95_black;
     font-size: 1.5rem;
     font-weight: 900;
     text-align: left;
 }


 .footer-col a {
     color: rgba(0, 0, 0, 0.75);
 }

 .content {
     height: 80vh;
     background: #ccc;
 }

 .footer-content-wrapper {
     width: 100%;
     margin: 1em auto;
 }

 .footer-col {
     display: inline-block;
     padding: 0.5em 0.1em 0.5em 1em;
     box-sizing: border-box;
     border-right: solid 1px #bbb;
 }

 .footer-col:nth-child(4) {
     border: none;
 }

 .ta-l {
     text-align: left;
 }

 .flt {
     float: left;
 }

 .flt:nth-child(4):after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 1em;
     clear: both;
 }

 .large-25 {
     width: 25%;
 }

 .footer-col a {
     display: block;
     margin: 0.3em 0;
 }

 @media (max-width: 550px) {
     .small-50 {
         width: 50%;
     }

     .footer-col:nth-child(2) {
         border: none;
     }
 }

 @media (max-width: 300px) {
     .tiny-100 {
         width: 100%;
     }

     .footer-col {
         border: none;
     }
 }

 /*end footer*/



 /* media queries*/

 /*mobile*/
 @media (min-width:320px) and (max-width:480px) {

     nav>ul>li>a {
         width: 100px;

     }

 }

 /*tablet*/
 @media (min-width: 481px) and (max-width:768px) {
     nav>ul>li>a {
         width: 100px;

     }

 }


 /*desktop*/
 @media (min-width: 769px) and (max-width:1023px) {
     nav>ul>li>a {
         width: 100px;

     }

 }