 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }




 body {

     background-color: #EFEFEF;
     font-family: avenir;
     font-weight: bold;
 }




 h1 {
     color: rgb(255, 0, 0);
     font-size: 5em;
     font-weight: 900;
     margin-top: 0.5em;
     font-family: avenir;
     font-weight: bold;
     text-align: center;
     justify-content: space-between;
 }

 h3 {
     color: rgb(129, 129, 129);
     font-size: 2em;
     font-weight: 900;
     margin-top: 0.5em;
     text-align: center;
     font-family: avenir;
     font-weight: bold;
     justify-content: space-between;

 }



 nav ul li {
     list-style: none;
     display: inline-flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;



 }


 nav ul li a {
     color: black;
     text-decoration: none;
     font-weight: 900;

     font-family: arial;
     font-weight: bold;





 }

 h4 {
     color: rgb(129, 129, 129);
     font-size: 2em;
     font-weight: 900;
     width: 100%;


     text-align: center;

 }


 /*zoekbalk*/
 .search-box input {
     position: absolute;
     height: 100%;
     width: 100%;
     outline: none;
     border: none;
     background-color: #e1e4e6;
     padding: 0 15px 0 45px;
     color: #fff;
     border-radius: 6px;
 }

 .search-box i {
     position: absolute;
     z-index: 2;
     color: #999;
     top: 50%;
     left: 15px;
     font-size: 40px;
     transform: translateY(-50%);
 }


 .search-box {
     position: relative;
     height: 42px;
     max-width: 800px;
     margin: 0 auto;
     margin-bottom: 20px;
 }






 .slide-container .images .image-box {
     position: relative;
     height: 40px;
     width: 200px;
     border-radius: 6px;
     overflow: hidden;
 }





 .slide-container {
     display: flex;

     width: 100%;
     height: 20%;




 }

 .card-wrapper {
     display: flex;
     overflow-x: scroll;
     color: rgb(255, 0, 0);
     box-sizing: border-box;
     scroll-snap-align: start;

 }

 .slide-content {

     overflow: hidden;
     border-radius: 25px;
     padding: 20px;

 }



 .slide-container>div {
     font-size: 30px;
     align-items: center;

 }


 .card {
     border-radius: 25px;
     background-color: #FFF;
     margin-left: 2em;
     margin-top: 10rem;
     width: 320px;




 }







 .card>div:nth-child(2n) {
     background-color: #fff;
     color: #ffffff;
 }


 .card>div:nth-child(2) {
     scroll-margin-inline-start: 2rem;
 }


 .card>div:nth-child(3) {
     scroll-margin-inline-start: 5rem;
 }


 .card>div:nth-child(4) {
     scroll-margin-inline-start: 2rem;
 }

 .card>div:nth-child(5) {
     scroll-margin-inline-start: 2rem;
 }


 .card>div:nth-child(6) {
     scroll-margin-inline-start: 2rem;
 }

 .card>div:nth-child(7) {
     scroll-margin-inline-start: 2rem;
 }




 .image-content,
 .card-content {

     flex-direction: column;
     align-items: center;
     padding: 10px 10px;
     display: flex;
 }

 .image-content {
     position: relative;
     row-gap: 5px;
     padding: 25px 0;
 }

 .overlay {
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: rgb(233, 233, 233);
     border-radius: 25px 25px 0 25px;
 }

 .overlay::before,
 .overlay::after {
     content: '';
     position: absolute;
     right: 0;
     bottom: -40px;
     height: 40px;
     width: 40px;
     background-color: rgb(255, 255, 255)
 }

 .overlay::after {
     border-radius: 0 25px 0 0;
     background-color: #FFF;
 }

 .card-image {
     position: relative;
     height: 300px;
     width: 200px;

     background: rgb(219, 155, 155);
     padding: 3px;
 }

 .card-image .card-img {
     height: 100%;
     width: 100%;


 }

 .name {
     font-size: 18px;
     font-weight: 500;
     color: #333;
     font-weight: 900;
 }

 .description {
     font-size: 16px;
     color: #383737;
     text-align: left;
     max-width: 30rem;

 }

 .button {
     border: none;
     font-size: 16px;
     color: #FFF;
     padding: 8px 16px;
     background-color: rgb(255, 7, 7);
     border-radius: 6px;
     margin: 14px;

     cursor: pointer;

 }


 .btn-uitlog {
     border: none;
     font-size: 16px;
     color: #FFF;
     padding: 8px 16px;
     background-color: rgb(255, 7, 7);
     border-radius: 6px;
     margin: 5px;
     cursor: pointer;
     float: right;

 }

 .button:hover {
     background: grey;
 }

 .btns {
     position: absolute;
     width: 100px;
     height: 60px;
     top: 90%;

     text-align: center;
     cursor: pointer;
     background: rgba(0, 0, 0, 0.1);
     z-index: 999;
     overflow: hidden;



 }

 .btns:hover {
     background: rgba(0, 0, 0, 0.3);
 }

 #next {
     right: -50px;
     border-radius: 7px 0px 0px 7px;
 }

 #previous {
     left: -50px;
     border-radius: 0px 7px 7px 7px;
 }

 #counter {
     top: 30px;
     right: 35px;
     width: auto;
     position: absolute;
 }

 .footer {
     font-size: 1rem;
 }